<% if @db[:css] %>
<style>
<%= @db[:css] %>
</style>
<% end %>

<% if @db[:img] %>
<img src='<%= @db[:img] %>' style='width: 100%; height: 100%; z-index: -1; position: fixed; top: 0; left: 0;'>
<% end %>

<h1 id='heading' style='width: 100%; text-align: center;'>
<button id='menu' class='material-icons' value='<%=  %>'>menu</button>
<span style='width: 70%; display: inline-block;'>
<% if @db[:heading] %>
<%= @db[:heading] %>
<% else %>
<%= @host %>
<% end %>
</span>
<button id='chat' class='material-icons' value='<%=  %>'>support_agent</button>
</h1>

<% if @db[:body] %>
<div id='body' style='width: 100%; text-align: center;'>
<%= @db[:body] %>
</div>
<% end %>

<%= erb :gps %>